.attribution  { 
    font-size: 11px; text-align: center;
    align-items: bottom;
    justify-content: center;
    }

 body {
 min-height: 100vh;
 font-family: Arial;
}
   .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
   
   
    
    
    
   }
   .results {
      background: linear-gradient( to bottom , hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    font-size: 26px;
    min-height: 500px;
    max-width: 350px;
    border-radius: 26px;
    box-shadow: 0px 0px 25px -1px rgba(66, 68, 90, 1);
    justify-content:space-around;
    align-items: center;
    
   }

   .results-text {
    color:white;
    text-align: center;
    
    
    
   }
   .score {
      background: linear-gradient( to bottom ,hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
   flex-direction: column;
   justify-content: start;
   align-items: center;

   

   }
   .score-text {
      margin-top: 25%;
      margin-bottom: 10px;
    color:white;
    font-size: 90px;
   margin-bottom: 0;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
    
   }
   .score-text2 {
    font-size: 20px;
    color: grey;
    position: relative;
    margin-top: 0px;
    
   
   }
   
   .applause {
      display: flex;
      flex-direction: column;
   font-size:16px;
   text-align: center;
   }


   .applause p {
      font-size:26px;
      color: white;
      text-align: center;
   }
   .abc {
      display: flex;
      margin: auto 16%;
      color:white;
      text-shadow: 2px 2px 5px rgba(158, 153, 153, 1);
   }


   
   h2 {
      width: 13em;
   }
   .summary {
    
   
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
    min-height: 500px;
    min-width: 350px;
    border-radius: 26px;
    box-shadow: 0px 0px 25px -1px rgba(66, 68, 90, 1);
    
   
  
    
   }
   
   .reaction {
      color:hsl(0, 100%, 67%);
      background-color: hsl(0, 100%, 93%);;
      padding: 4px;
   border-radius: 13px;
   width: 20em;
   height: 3em;
   
      
      
   }

   .memory {
      display: flex;
  justify-content: space-between;
   color: hsl(39, 100%, 56%);
   background-color: hsl(39, 100%, 93%);
   padding: 4px;
   border-radius: 13px;
   width: 20em;
   height: 3em;
   
   }

   div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;
   }
   
   

   .verbal {
   color:hsl(166, 100%, 37%);
   background-color:hsl(166, 100%, 93%);
   padding: 4px;
   border-radius: 13px;
   width: 20em;
   height: 3em;
   }

   .visual {
   color: hsl(234, 85%, 45%);
   background-color:hsl(234, 85%, 93%);
   padding: 4px;
   border-radius: 13px;
   width: 20em;
   height: 3em;
   }
   
   .button {
      display: flex;
      color: hsl(0, 0%, 100%);
    justify-content: center;
    align-items: center;
   
      border-radius: 30px;
      background-color: hsl(241deg 46.57% 43.31%);
      width: 20em;
      height: 3em;
   }

